.owl-carousel {
  border-style: double;
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .item img {
  height: 300px;

}

.owl-carousel .owl-item img {
  width: auto !important;
}

.hidden {
  display: none;
}

.product-input-group {
  background-color: #CCCCCC;
  padding: 10px 5px 10px 5px;
  margin: 5px;
  border-radius: 10px;
}